
first_homework/first_js_homework.js
first_homework/terminal_homework.bash
GA/unit1/d lab - Template/index.html
GA/unit1/d lab - Template/script.js
GA/unit1/d10lab/AftLab/index.html
GA/unit1/d10lab/AftLab/script.js
GA/unit1/d10lab/AftLab/style.css
GA/unit1/d10lab/Class/index.html
GA/unit1/d10lab/Class/notex.js
GA/unit1/d10lab/Class/script.js
GA/unit1/d10lab/Class/style.css
GA/unit1/d10lab/index.html
GA/unit1/d10lab/script.js
GA/unit1/d10lab/styles.css
GA/unit1/d2lab/arrays_conditions.js
GA/unit1/d2lab/index.html
GA/unit1/d2lab/practice.js
GA/unit1/d3lab/index.html
GA/unit1/d3lab/script.js
GA/unit1/d3lab/script2.js
GA/unit1/d4lab/index.html
GA/unit1/d4lab/script.js
GA/unit1/d5lab/index.html
GA/unit1/d5lab/script.js
GA/unit1/d6lab/aftlab.js
GA/unit1/d6lab/index.html
GA/unit1/d6lab/Inheritance.js
GA/unit1/d6lab/notes.js
GA/unit1/d6lab/oop_westworld.js
GA/unit1/d7lab/AftLab/app.js
GA/unit1/d7lab/AftLab/idea.js
GA/unit1/d7lab/AftLab/index.html
GA/unit1/d7lab/AftLab/Labwork/idea.js
GA/unit1/d7lab/AftLab/Labwork/index.html
GA/unit1/d7lab/AftLab/Labwork/script.js
GA/unit1/d7lab/AftLab/Labwork/style.css
GA/unit1/d7lab/AftLab/main.css
GA/unit1/d7lab/index.html
GA/unit1/d7lab/index2.html
GA/unit1/d7lab/MorningLab/idea.js
GA/unit1/d7lab/MorningLab/index.html
GA/unit1/d7lab/MorningLab/script.js
GA/unit1/d7lab/MorningLab/styles.css
GA/unit1/d7lab/script.js
GA/unit1/d7lab/style.css
GA/unit1/d8lab/AftClass/index.html
GA/unit1/d8lab/AftClass/script.js
GA/unit1/d8lab/AftClass/script2.js
GA/unit1/d8lab/AftClass/style.css
GA/unit1/d8lab/AftClass/style2.css
GA/unit1/d8lab/Class/index2.html
GA/unit1/d8lab/Class/script.js
GA/unit1/d8lab/Class/styles2.css
GA/unit1/d8lab/index.html
GA/unit1/d8lab/MornLabs/grids/index.html
GA/unit1/d8lab/MornLabs/grids/script.js
GA/unit1/d8lab/MornLabs/grids/script_class.js
GA/unit1/d8lab/MornLabs/grids/style.css
GA/unit1/d8lab/MornLabs/index2.html
GA/unit1/d8lab/MornLabs/pyramids/index.html
GA/unit1/d8lab/MornLabs/pyramids/script.js
GA/unit1/d8lab/MornLabs/pyramids/style.css
GA/unit1/d8lab/MornLabs/styles2.css
GA/unit1/d8lab/script.js
GA/unit1/d9lab/A Lab/index.html
GA/unit1/d9lab/A Lab/script.js
GA/unit1/d9lab/A Lab/style.css
GA/unit1/d9lab/A Lab/submitted.html
GA/unit1/d9lab/A Lab/todo_starter/app.js
GA/unit1/d9lab/A Lab/todo_starter/index.html
GA/unit1/d9lab/A Lab/todo_starter/main.css
GA/unit1/d9lab/A Lab/todo_starter/minimalist_main.css
GA/unit1/d9lab/Class/index.html
GA/unit1/d9lab/Class/Notes.js
GA/unit1/d9lab/Class/script.js
GA/unit1/d9lab/Class/style.css
GA/unit1/d9lab/index.html
GA/unit1/d9lab/M Lab/calculator/index.html
GA/unit1/d9lab/M Lab/calculator/script.js
GA/unit1/d9lab/M Lab/calculator/style.css
GA/unit1/d9lab/script.js
GA/unit1/kitchen/index.html
GA/unit1/kitchen/script.js
GITHUB DEKSTOP/Day2/SEI-33/
GITHUB DEKSTOP/New folder/sei-33-homework/
Info/08 Nov.txt
Info/09 Nov.txt
Info/10 Nov.txt
Info/11 Nov.txt
Info/15 Nov.txt
Info/concept_1.png
Info/concept_2.png
Info/patrick_boey/hogwarts/app.js
Info/patrick_boey/hogwarts/hogwarts.jpg
Info/patrick_boey/hogwarts/index.html
Info/patrick_boey/hogwarts/main.css
Info/post.txt
Info/Test/index.html
Info/Test/script.js
Info/Test/style.css
