#myId {

    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0) ;
    background-image:url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/20caca84-f792-48df-837f-8e6fbb165fec/dae3j4s-00ee0fc6-0832-4694-82ac-4b0feb29f8fd.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzIwY2FjYTg0LWY3OTItNDhkZi04MzdmLThlNmZiYjE2NWZlY1wvZGFlM2o0cy0wMGVlMGZjNi0wODMyLTQ2OTQtODJhYy00YjBmZWIyOWY4ZmQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DTVSiVcVU006cCMtZLQgSzbF_0feTCcSe3PnFtmhhH8);
    transition: 0.2s;
  }