body {
    margin: auto;
    max-width: 1464px;
    background-image: url(sky.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#body-words{
    margin: auto;
    max-width: 200px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

#background {
    position: relative;
    border: 3px solid #73AD21;
    width: 1464px;
    height: 824px;
}

#canvas {
    position:absolute;
    top: 2px;
    right:225px;
}

#damage {
    background-color: red;
    max-width: 10px;
    max-height: 10px;
}