body {
    margin: auto;
    max-width: 1464px;
    /* background-image: url(assets\sky.png); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

#heart {
    position:absolute;
    height:65px;
    bottom: 50px;
    left: 1425px; 
    /* 1335 value for the entire bar */
}

progress {
    position:relative;
    height:38px;
    bottom: 50px;
    left: 100px;
    width:93.5%;
}

progress#health {
    background: black;
    border-radius: 50px;
  }
  
  /* progress::-moz-progress-bar {
    background: lightcolor;
  } */
  
  progress::-webkit-progress-value {
    border-radius: 50px;
    background: crimson;
  }
  
  progress::-webkit-progress-bar {
    border-radius: 50px;
    background: grey;
  }

#body-words{
    max-width: 200px;
    padding: 10px;
    left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

#background {
    position: relative;
    border: 3px solid #73AD21;
    width: 1464px;
    height: 824px;
}

#canvas {
    position:absolute;
    top: 2px;
    right:0px;
}

#damage {
    background-color: red;
    max-width: 10px;
    max-height: 10px;
}

#startLogo {
    text-align: center;
    position:absolute;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 3px;
    left: 2px;
}

/* #startImage {
    max-width: 1000px;
} */